<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    {% if title %}
        <title>{{ title }}-flaskblog</title>
    {% else %}
        <title>Welcome - flaskblog</title>
    {% endif %}
</head>
<body>
    <div>Flaskblog:<a href="{{ url_for('index') }}">Home</a>
        {% if g.user.is_authenticated %}
{#           if g.user.is_authenticated 判断用户登入就显示登出链接#}
            |<a href="{{ url_for('get_user',nickname=g.user.nickname) }}">Your Profile</a>
            |<a href="{{ url_for('logout') }}">Logout</a>
        {% else %}
            |<a href="{{ url_for('register') }}">注册</a>
        {% endif %}
    </div>
    <hr>
    {% with messages = get_flashed_messages()  %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    {% block content %}
    {% endblock %}

</body>
</html>